.bg-image {
    /* Full height */
    height: 50vh; /* Using viewport height instead of percentage */
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Images used */
  /* .img1 { background-image: url("/images/img2.jpg"); }
  .img2 { background-image: url("/images/img3.jpg"); }
  .img3 { background-image: url("/images/img4.jpg"); }
  .img4 { background-image: url("/images/img5.jpg"); }
  .img5 { background-image: url("/images/img6.jpg"); }
  .img6 { background-image: url("/images/img7.jpg"); } */
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 80px;
    border: 10px solid #f1f1f1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 300px;
    padding: 20px;
    text-align: center;
  }
  